BODY  {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size:11px;
 text-align:left;
 font-weight:normal;
 color:000000;
 background: #ffffff;
 margin-top: 10px;
}


PRE {
 font-family: Courier New, Courier;
 font-size:11px;
 color:000000;
 text-align:left;
 font-weight:normal;
}

H3  {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size:13px;
 font-weight:bold;
# background:          #eeeeee;
 background:          #ff0000;
 color:		      #ffffff;
# border-color:        #00ff00 #ff0000 #ff0000 #ff0000;
# border-color:        #ffffee #999999 #999999 #ffffee;
 border-style:        solid;
# border-left-width:   10px;
# border-right-width:  2px;
# border-top-width:    10px;
# border-bottom-width: 2px;
 border-left:    solid 3px #ff0000;
 border-right:    solid 3px #ff0000;
 border-top:    solid 2px #ff0000;
 border-bottom:    solid 2px #ff0000;
}

H4  {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size:11px;
 font-weight:bold;
 color:		      #ffffff;
 background:          #ff0000;
 border-color:        #ffffee #999999 #999999 #ffffee;
 border-style:        solid;
 border-left-width:   1px;
 border-right-width:  1px;
 border-top-width:    1px;
 border-bottom-width: 1px;
 padding-top:         2px;
 padding-bottom:      2px;
 padding-left:        4px;
}

TD  {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 text-align:left;
 vertical-align:top;
 font-size:12px;
}

TD.menu {
# color: #ffffff;
 font-size:9px;
 font-weight:bold;
 text-align:left;
}

.small  {
 font-size:9px;
}

.medium  {
 font-size:13px;
}

.big  {
 font-size:17px;
}


.pageheader {
# border-left:    solid 10px #dddddd;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size:           14px;
 font-weight:         bold;
 color:               #ffffff;
 background:          #ff0000;
 border-color:        #000000 #000000 #000000 #000000;
 border-style:        solid;
 border-left-width:   1px;
 border-right-width:  1px;
 border-top-width:    1px;
 border-bottom-width: 1px;
 padding-top:         15px;
 padding-bottom:      15px;
 padding-left:        25px;
 vertical-align:      middle;
 align:               right;
 horizontal-align:    middle;
}

.leftheader {
# border-left:    solid 10px #dddddd;
 background:          #000000;
 color:               #ffffff;
 border-color:        #000000 #000000 #000000 #000000;
 border-style:        solid;
 border-left-width:   5px;
 border-right-width:  1px;
 border-top-width:    1px;
 border-bottom-width: 1px;
 padding-left:        5px;
 vertical-align:      middle;
 align:               right;
 text-decoration:     none;


}

.mainblock {
# border-left:   solid 10px #dddddd;
 background:          #ffffff;
# border-color:        #ffffee #999999 #999999 #eeeeee;
 border-color:        #000000 #999999 #999999 #000000;
 border-style:        solid;
 border-left-width:   1px;
 border-right-width:  1px;
 border-top-width:    1px;
 border-bottom-width: 1px;
}

.navigation_enabled
{
 text-decoration:	none;
 color:			#000000;	
}

.nav2_enabled
{
 text-decoration:	none;
 color:			#ffffff;	
}

.navigation_enabled:hover {
 text-decoration:  underline;
}

.navigation_disabled
{
 text-decoration:  none;
 font-weight:      bold;
}

.navigation_disabled:visited {
 text-decoration:  none;
 font-weight:      bold;
 color:            #000000;
}

A.navigation_disabled:hover {
 text-decoration:  none;
}
