
BODY  {
  background: #ccc;
  font-size: 16px;
}

#main {
  width: 1000; 
  background: #fff;
  border:		1px solid #000;
  margin: 0px auto;
  font-family: Lucida Grande, Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 0.8125em;
  padding: 0px 0px 0px 0px;
}

#mainblock {
  margin-left: 210px; 
  padding-right: 15px;
  font-family: "Lucida Grande", Tahoma, Lucida Sans, Verdana, Helvetica, sans-serif;
  /* font-size: 12.8px;
  font-size: 10pt;
  font-size: 0.8em; */
}

#mainblock_obr {
  margin: 20px 10px 20px 10px;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

#header {
  background: #0B2229;
  margin-bottom: 20px;
  height: 90px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#header_logo {
  /* padding: 7px 0px 0px 15px; */
  padding: 7px 0 0 15px;
  float:left;
}

#header_centerbox {
    background: #0B2229;
    height: 75px;
    width: 400px;
    float:left;
    text-align: center;
    margin: 0px;
    border: 0px;
}

.header_centerinfo_top {
    font-size: 1em;
    color: #cccccc;
    margin: 10px 0px 0px 40px;
}

.header_centerinfo_bottom {
    font-size: 1.5em;
    color: #cccccc;
    margin: 7px 0px 0px 60px;
    font-weight: bold;
}
    
#header_rightinfo {
    background: #0B2229;
    font-size: 10px;
    color: #cccccc;
    padding-top: 10px;
    padding-right: 20px;
    text-align: right;
    margin-left: 0px;
    height: 65px;
    border-style: none;
    margin: 0px;
    border: 0px;
}

#header_fade {
  height: 15px;
  border: 0px;
  margin: 0px 0px -4px 0px;
  margin: 0px;
  padding:0px;
  border-style: none;
  background-image: url('../images/fadeout_15.png');
  background-size: 15px;
  background-repeat: repeat-x;
  clear:both;
  overflow: hidden; /* To prevent IE to add an extra 1px at the bottom */
}


#leftmenu {
  margin-left: 10px;
  width: 180px;
  float:left;
  margin-top: 12px;
  /*  background: #f4d6ea; */
}

DL.leftmenu2,leftmenu2_last {
  margin:	6px 0px 6px 0px;	     
  padding:	6px 0px 6px 0px;
  border-style: solid;
  border-color: #802060;
  border-width: 0px 0px 1px 0px;
}

DL.leftmenu2_last {
  border-width: 0px 0px 0px 0px;
}

DT.leftmenu2 {
  /* font-family:	Lucida Grande, Helvetica, sans-serif; */
  /*font-size:	0.8em; */
  font-weight:	bold;
  padding:	0px 0px 0px 0px;
  margin:	0px 0px 0px 0px;

}  


DD.leftmenu2  {
    /* font-family:	 Lucida Grande, Tahoma, Helvetica, sans-serif; */
  /* font-size:	0.8em; */
  padding:	0px 0px 0px 12px;
  margin:	0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: 0 .5em;
}

DD.leftmenu3  {
  font-family:	 Lucida Grande, Tahoma,Helvetica, sans-serif;
  font-size:	12px;
  padding:	0px 0px 0px 24px;
  margin:	0px 0px 0px 0px;
  background-image: url('/images/slash_small.jpg');
  background-repeat: no-repeat;
  background-position: 0 .5em;
}

DD.leftmenu4  {
  font-family:	 Lucida Grande, Tahoma,Helvetica, sans-serif;
  font-size:	12px;
  padding:	0px 0px 0px 32px;
  margin:	0px 0px 0px 0px;
  background-image: url('/images/slash_small.jpg');
  background-repeat: no-repeat;
  background-position: 0 .5em;
}

#footer {
  clear:both;
  border-style: solid;
  border-color: #802060;
  border-width: 1px 0px 0px 0px;
  margin:	20px 15px 15px 15px;
}

#copyright {
  margin-left: 200px;
  font-size:10px;
  color: #000;
  text-align: right;
  padding: 5px 10px 0px 0px;
}	  

H1, H1.kf {
    font-family: Helvetica Neue, Helvetica, Verdana, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight:bold;
    border-style: solid;
    border-color: #802060;
    border-width: 0px 0px 1px 0px;
    padding-bottom: 2px;
    margin: 1.4em 0 0.6em 0;
    color: #444444;
}

H2, H2.kf, H2.filled, h2.release_notes  {
    font-family: Helvetica Neue; Helvetics, Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
    font-size:	1.6em;
    font-weight:bold;
    color: #444444;
    padding: 0px;
    margin: 1.4em 0 0.8em 0;
    margin: 0.8em 0 0.2em 0;
}

H2.filled, h2.release_notes  {
    background-image: url('../images/shortfadeout_20px.png');
    border-style: solid;
    border-color:	#ccc;
    border-width:	1px 0px 1px 0px;
    background-repeat: repeat-x;
    padding:	3px 0px 3px 6px;
}
    
H3  {
 font-family:  Lucida Grande, Tahoma, Verdana, Arial, Helvetica, sans-serif;
 font-size:1.1em;
 font-weight:bold;
 background:          #805362;  
 color:		      #ffffff;
 border-style:        solid;
 border-style: solid;
 border-color: #000000;
 border-width: 1px;
 padding-top:         2px;
 padding-bottom:      2px;
 padding-left:        8px;
}


H3.kf  {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    background:          #805362;  
    color:		      #ffffff;
    border-style:        solid;
    border-color: #000000;
    border-width: 1px;
    padding-top:         2px;
    padding-bottom:      2px;
    padding-left:        8px;
    color:		#444444;
    border-style:  solid;
    border-color:	#ccc #fff #ccc #fff;
    border-width:	1px;
    border-width:	1px 0px 1px 0px;
    background-image: url('../images/shortfadeout_20px.png');
    background-repeat: repeat-x;
}

.navigation_enabled
{
 text-decoration:	none;
 color:			#000000;	
}

.nav2_enabled
{
 text-decoration:	none;
 color:			#ffffff;	
}

.navigation_enabled:hover {
 text-decoration:  underline;
 color:		   #cc3399;
}

.navigation_disabled
{
 text-decoration:  none;
 font-weight:      bold;
 color:		   #802060;

}

.navigation_disabled:visited {
 text-decoration:  none;
 font-weight:      bold;
 color:		   #802060;
}

A.navigation_disabled:hover {
 text-decoration:  none;
}

A {
  color: #802060;
}

PRE {
 font-family: Monaco, Courier New, Courier;
 font-size:12px;
 color:#000000;
 text-align:left;
 font-weight:normal;
}

PRE.code {
    border-style: solid;
    border-color: #ddddff;
    border-width: 1px;
    background-color: #f7F7FF;
    padding: 5px 0px 5px 6px;
}
 
pre.shell {
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 1px;
    background-color: #f7f7f7;
    padding: 5px 0px 5px 6px;
}

TH {
 text-align: left;
 font-family:  Lucida Grande, Tahoma,Helvetica, sans-serif;
 font-size: 14px;
}

TH.fancy {
 text-align: center;
 font-family:  Lucida Grande, Tahoma,Helvetica, sans-serif;
 font-size: 12px;
}

TD {
  font-family:  Lucida Grande, Tahoma,Helvetica, sans-serif;
  font-size: 12px;
  vertical-align: top;
}

TABLE.fancy {
  border-collapse: collapse;
}

TR.fancy {
  background: #C9C9C9;
  border-bottom: 2px solid #A3A3A3;
  border-top: 2px solid #A3A3A3;
}

TD.fancy {
  padding: 2px 4px 2px 4px;
}

TD.fancy_row {
  background: #C9C9C9;
  border-bottom: 2px solid #A3A3A3;
  border-top: 2px solid #A3A3A3;
}


#release_notes dt {
  font-weight: bold;
}

#release_notes dd {
  margin-bottom: 10px;
}

.release_notes dt {
  font-weight: bold;
}

.release_notes dd {
  margin-bottom: 10px;
}

.kf dt {
  font-weight: bold;
}

.kf dd {
    margin-bottom: 10px;
}

table.kf {
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    background-color: #ffffff;
    border-style: solid;
}

table.kf th {
    font-weight: bold;
    font-size:12px;
    text-align:center;
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: #999999;
    background-color: #dedede;
}


table.kf td {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    border-color: #999999;
    background-color: #ffffff;
}

table.kf td.subhead {
    font-weight: bold;
    background: #eeeeee;
}

table.kf td.kfpro {
    color: #888888;
    background-color: #ffffff;
    /* background-image: url('../images/knopflerfish_pro.png');*/
    background-repeat: no-repeat;
    background-position: center center;
}

code {
    font-family: Monaco, Courier;
    font-size: 0.8125em;
}

tt {
    font-family: Monaco, Courier;
    font-size: 0.8125em;
}


.note_group {
    margin: 1.5em 0 0.5em 0;
}

.note_name {
    margin: 1.5em 0 0.5em 0;
    font-weight: bold;
    color:#333333;
}

.note_item {
    display: list-item;
    margin: 0.5em 0 0.5em 2em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.newkf6:after {
    content: " N";
    background: #cccccc;
    display:block;
}

table.kf td.newkf6 {
    /* background-color: #f5f3ee; */
    /* color: #4a96ad; */
}

td.R6-new:after {
    content: "N";
}

td.R6-upd:after {
    content: "U";
}
