*~
.classpath
.project
ant/classes/
ant/lib/
eclipse_bin/
osgi/bundles/remotefw/doc/client.xargs
osgi/bundles/remotefw/doc/server.xargs
osgi/bundles_examples/cpa/init.xargs
osgi/bundles_opt/classpatcher/resources/asm-3.2.jar
osgi/bundles_test/regression_tests/component_test/resources/
osgi/bundles_test/regression_tests/condpermadmin_test/resources/
osgi/bundles_test/regression_tests/endurance_test/resources/
osgi/bundles_test/regression_tests/extension_test/resources/
osgi/bundles_test/regression_tests/framework_test/resources/*.jar
osgi/bundles_test/regression_tests/out/
osgi/bundles_test/regression_tests/restart_test/resources/
osgi/bundles_test/regression_tests/servicetracker_test/resources/
osgi/bundles_test/regression_tests/startlevel_test/resources/
osgi/framework.jar
osgi/framework/resources/exports
osgi/framework/resources/release
osgi/framework/resources/tstamp
osgi/framework/resources/version
osgi/fwdir/
osgi/headless.xargs
osgi/init-tests.xargs
osgi/init.xargs
osgi/jars/
osgi/junit_grunt/
osgi/minimal.xargs
osgi/out/
osgi/remote-init.xargs
osgi/test-restart1.xargs
osgi/test-restart2.xargs
osgi/test_jars/
out/
