BODY  {
  background: #fff;
  margin-top:   5px;
  margin-left:  10px;
  margin-right: 10px;
  font-size: 0.8125em;
  font-family: Lucida Grande, Tahoma, Verdana, Helvetica, sans-serif;
}

.shadow {
 background:          #eeeeee;
 border-color:        #ffffee #999999 #999999 #ffffee;
 border-style:        solid;
 border-left-width:   1px;
 border-right-width:  1px;
 border-top-width:    1px;
 border-bottom-width: 1px;
 padding-top:         2px;
 padding-bottom:      2px;
}

.success_true {
}

.success_false {
 background:#ff7777 !important;
}

.passed {
 background:#ffffff !important;
}

.failed {
 background:#ff7777 !important;
}

.error {
 background:#ff7777 !important;
}

code {
 font-family: Courier New, Courier;
 font-size:11px;
 color:#000000;
 text-align:left;
 font-weight:normal;
}

div.schemaComp { border: 4px double gray; margin: 0em 1em; padding: 0em; }

div.compHeader { margin: 4px; font-weight: bold; }

span.schemaComp { color: #A52A2A; }                  

div.compBody { 
  border-top-width: 4px;
  border-top-style: double;
  border-top-color: #d3d3d3;
  padding: 4px ; margin: 0em;
}

.discussion {
  padding: 4px; 
  margin: 0em;
  font-style: italic;
  background-color: #eeeeee;
}
                   
