<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.knopflerfish.android.service"
      android:versionCode="1"
      android:versionName="1.0">

  <application>

    <!-- This service element has to be merged into the app's manifest -->
    <service
      android:name="org.knopflerfish.android.service.Knopflerfish"
      android:enabled="true"
      android:exported="true" >
      <!--  TODO: permission for other apps using this service -->
    </service>
  </application>
</manifest>
